{% extends "::base.html.twig" %}

{% block title %}CarteBundle:Main:ranking{% endblock %}

{% block body %}
<h1>Welcome to the Main:ranking page</h1>
    <div>
        {% set i=0 %}
        {% for location in locations %}
            <div class="step">
                <h2>{{ location.name }} - {{ location.type }}</h2>
                <h3>{{ location.typeDetail }}</h3>
                <div class="coordo">
                    Adresse :<br>
                    {{ location.address }}<br>
                    {{ location.postalcode }}<br>
                    {{ location.town }}<br>
                    <p>Telephone : {{ location.phone }}<br>
                        {% if location.mail %}
                            Mail : <a href="mailto:{{ location.mail }}">{{ location.mail }}</a><br>
                        {% endif %}
                        {% if location.website %}
                            <a href="{{ location.website }}">Site internet</a><br>
                        {%  endif %}
                        {% if location.facebook %}
                        <a href="{{ location.facebook }}">Facebook</a><br>
                        {% endif %}</p>
                </div>
                <p>
                    {% if location.rank %}
                        {{ location.rank }}<br>
                    {% endif %}
                    {% if location.openhour %}
                        {{ location.openhour }}<br>
                    {% endif %}
                    {% if location.rateclear %}
                        {{ location.rateclear }}<br>
                    {% endif %}
                    {% if location.producer %}
                        {{ location.producer }}<br>
                    {% endif %}</p>
                <ul>
                    <li>
                        <a href="{{ path('location_show', { 'id': location.id }) }}" target="_blank">Voir la fiche de l'établissement</a>
                    </li>
                </ul>
            </div>
        {% endfor %}

    </div>
{% endblock %}
